.card{
   display: flex;
   margin-top: -80px;
   margin-left: 50px;
   margin-right: 50px;
}

.card1{
    width: 400px;
    height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 40px;
}
.card1>img{
    width: 350px;
    height: 200px;
}
.card1>p{
    text-align: justify;
    margin: 30px;
    display: flex;
   
}

.card1>p>li{
    margin: 10px;
}

.prmain{
    background-color: rgb(217, 189, 189);
}