

.skills{
    background-color: brown;
    height: 580px;
    margin: 30px;
}
.logo>img{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin: 10px;
    width: 140px;
    height: 100px;
}



